<link rel="stylesheet" href="./style.css">
<a id="continue" href="<%=redirect%>">Continue</a>

<script>
    setTimeout(() => document.getElementById("continue").classList.add('enabled'), 2500);
</script>